<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

<div class="col-lg-8">
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group row">
    <%= f.label :nombre, 'Nombre completo', class:"col-sm-3 col-form-label" %>
      <div class="col-sm-9">
        <%= f.text_field :name, class: "form-control" %>
      </div>
  </div>

  <div class="form-group row">
    <%= f.label :rfc, 'RFC', class:"col-sm-3 col-form-label" %>
      <div class="col-sm-9">
        <%= f.text_field :rfc, class: "form-control" %>
      </div>
  </div>

  <div class="form-group row">
    <%= f.label :empresa, 'Empresa', class:"col-sm-3 col-form-label" %>
      <div class="col-sm-9">
        <%= f.text_field :empresa, class: "form-control" %>
      </div>
  </div>

  <div class="form-group row">
    <%= f.label :email, class:"col-sm-3 col-form-label" %>
      <div class="col-sm-9">
        <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
      </div>
  </div>

  <div class="form-group row">
    <%= f.label :password, 'Password', class:"col-sm-3 col-form-label" %>
      <div class="col-sm-9">
        <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
      </div>
  </div>

  <div class="form-group row">
     <%= f.label :password_confirmation, class:"col-sm-3 col-form-label" %>
      <div class="col-sm-9">
        <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
      </div>
  </div>

  

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
</div>
<% end %>

<%= render "devise/shared/links" %>

<script>
  new RegistrationView();
</script>
  