 <%= form_with model: empleado, local: true do |f| %>
    <div class="form-group row">
        <%= f.label :sucursal_id, "Sucursal", class:"col-sm-3 col-form-label" %>
        <div class="col-sm-9">
        <%=f.select(:sucursal_id, current_user.empresa.sucursals.all.collect {|a| [a.nombre, a.id]}, {}, class: "form-control")%>
        </div>
    </div>
      
    <div class="form-group row">
        <%= f.label :nombre, 'Nombre', class:"col-sm-3 col-form-label" %>
         <div class="col-sm-9">
            <%= f.text_field :nombre,class: "form-control" %>
        </div>
    </div>

    
    <div class="form-group row">
            <%= f.label :rfc, class:"col-sm-3 col-form-label"  %>
            <div class="col-sm-9">
                <%if controller.action_name == "edit"%>
                    <%= f.text_field :rfc,class: "form-control", :readonly => true %>
                <%else%>
                    <%= f.text_field :rfc,class: "form-control" %>
                <%end%>
        </div>
    </div>

    <div class="form-group row">
            <%= f.label :puesto, class:"col-sm-3 col-form-label" %>
            <div class="col-sm-9">
                <%= f.text_field :puesto, class: "form-control" %>
        </div>
    </div>

    <%= f.submit class: "btn btn-primary" %>
 

  <% end %>

<script>
  new EmpleadosView();
</script>
  