<!-- Main section-->
<section>
    <!-- Page content-->
    <div class="container">
      <h3>
        Editar empleado
        <small></small>
      </h3>
      <% if @empleado.errors.any? %>
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-danger">
                    <ul>
                        <% @empleado.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
      <% end %>

      <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Detalles de empleado
                </div>
                <div class="panel-body">
                    <div class="col-lg-6" style="background:#cbe1ef;">
                        <%= render 'form',empleado: @empleado %>
                    </div>
                    
                </div>
            </div>
        </div>
      </div>
    </div>
</section>