    <section>
      <div class="container">
    
    <h3>
         Empleados de sucursal: <%=Sucursal.find(params[:sucursal_id]).nombre%>
        <small></small>
    </h3>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                Lista de empleados
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-stripped table-hover">
                    <thead>
                      <tr>
                        <th>Nombre:</th>
                        <th>RFC:</th>
                        <th>Puesto</th>
                        <th colspan="3"></th>
                      </tr>
                    </thead>

                    <tbody>
                      <% @empleados.each do |empleado| %>
                        <tr>
                         <td>
                              <%=empleado.nombre%>
                            
                         </td>
                         <td><%=empleado.rfc%></td>
                         <td><%=empleado.puesto%></td>
                          <td>
                            <%= link_to edit_empleado_path(empleado) do %>
                              <button class="btn btn-primary">
                                Editar
                              </button>
                            <% end %>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div> <!-- end of panel-body -->
              <div class="panel-footer clearfix">
                <div class="pull-right">
                    <%= link_to root_path do %>
                      <button class="btn btn-primary">
                        Regresar
                      </button>
                    <% end %>
                </div>
              </div> <!-- end of panel-footer -->
          </div>
        </div>
      </div> <!-- end of col -->
    </div> <!-- end of row -->
    </div>
</section>

