<section>
    <!-- Page content-->
    <div class="container">
    <h3>
         Empleado
        <small></small>
    </h3>
    
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
            <div class="panel-heading">
                  Detalles de empleado
                </div>
              <div class="panel-body">
                <table class="table bb">
                <tr>
                <p>
                    <td><strong>Sucursal:</strong></td>
                    <td><%=@empleado.sucursal.nombre%></td>
                </p>
                </tr>
                <tr>
                <p>
                    <td><strong>Nombre:</strong></td>
                    <td><%=@empleado.nombre%></td>
                </p>
                </tr>
                <tr>
                    <p>
                        <td><strong>RFC:</strong></td>
                        <td><%=@empleado.rfc%></td>
                    </p>
                </tr>
                <tr>
                    <p>
                        <td><strong>Puesto:</strong></td>
                        <td><%=@empleado.puesto%></td>
                    </p>
                </tr>
                

                </table>
                <div class="panel-footer clearfix">
                  <div class="pull-right">
                    <%= link_to root_path do %>
                      <button class="btn btn-primary"> Regresar </button>
                    <% end %>
                  </div>
                </div>
                
              </div>
            </div>
        </div>
    </div>

    </div>
</section>