 <%= form_with model: sucursal, local: true do |f| %>
    <div class="form-group row">
        <%= f.label :nombre, 'Nombre', class:"col-sm-3 col-form-label" %>
         <div class="col-sm-9">
            <%= f.text_field :nombre,class: "form-control" %>
        </div>
    </div>
    
    <div class="form-group row">
            <%= f.label :calle, class:"col-sm-3 col-form-label"  %>
            <div class="col-sm-9">
                <%= f.text_field :calle,class: "form-control" %>
        </div>
    </div>

    <div class="form-group row">
            <%= f.label :colonia, 'Colonia', class:"col-sm-3 col-form-label" %>
            <div class="col-sm-9">
                <%= f.text_field :colonia, class: "form-control" %>
        </div>
    </div>

    <div class="form-group row">
            <%= f.label :numeroExt, 'Numero exterior', class:"col-sm-3 col-form-label" %>
            <div class="col-sm-9">
                <%= f.text_field :numeroExt, class: "form-control" %>
        </div>
    </div>

    <div class="form-group row">
            <%= f.label :numero_int, 'Numero interior', class:"col-sm-3 col-form-label" %>
            <div class="col-sm-9">
                <%= f.text_field :numero_int, class: "form-control" %>
        </div>
    </div>

    <div class="form-group row">
            <%= f.label :codigo_postal, 'Codigo postal', class:"col-sm-3 col-form-label" %>
            <div class="col-sm-9">
                <%= f.text_field :codigoPostal, class: "form-control" %>
            </div>
    </div>


    <div class="form-group row">
            <%= f.label :ciudad, 'Ciudad', class:"col-sm-3 col-form-label" %>
            <div class="col-sm-9">
                <%= f.text_field :ciudad, class: "form-control" %>
            </div>
    </div>
    
    <div class="form-group row">
            <%= f.label :pais, 'Pais', class:"col-sm-3 col-form-label" %>
            <div class="col-sm-9">
                <%= f.text_field :pais, class: "form-control" %>
            </div>
    </div>

    <%= f.submit class: "btn btn-primary" %>
 

  <% end %>

<script>
  new SucursalView();
</script>