<!-- Main section-->
<section>
    <!-- Page content-->
    <div class="container">
      <h3>
        Editar sucursal
        <small></small>
      </h3>
      <% if @sucursal.errors.any? %>
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-danger">
                    <ul>
                        <% @sucursal.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
      <% end %>

      <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Detalles de sucursal
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6" style="background:#cbe1ef;">
                            <%= render 'form_edit', sucursal: @sucursal %>
                        </div>

                        <div class="col-lg-6">
                        Empleados
                             <div class="table-responsive">
                                <table class="table table-stripped table-hover">
                                    <thead>
                                    <tr>
                                        <th>Nombre:</th>
                                        <th>RFC:</th>
                                        <th>Puesto:</th>
                                        <th>Editar:</th>
                                        <th colspan="3"></th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <% @empleados.each do |empleado| %>
                                        <tr>
                                        <td>
                                            <%=empleado.nombre%>
                                            
                                        </td>
                                        <td>
                                            <%=empleado.rfc%>
                                        </td>
                                         <td>
                                            <%=empleado.puesto%>
                                        </td>
                                        <td>
                                            <%= link_to edit_empleado_path(empleado) do %>
                                            <button class="btn btn-primary">
                                                Editar
                                            </button>
                                            <% end %>
                                        </td>
                                        </tr>
                                    <% end %>
                                    </tbody>
                                </table>
                                </div>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
      </div>
    </div>
</section>