<!-- Main section-->
<section>
  <!-- Page content-->
  <div class="container">
  <h3>
      Nueva sucursal
      <small></small>
  </h3>
  
      <% if @sucursal.errors.any? %>
          <div class="row">
              <div class="col-lg-12">
              <div class="alert alert-danger">
                  <strong>
                      <%= pluralize(@sucursal.errors.count, "error") %> 
                  </strong>
                  <ul>
                      <% @sucursal.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                      <% end %>
                  </ul>
              </div>
          </div>
          </div>
      <% end %>
  
  <div class="row">
      <div class="col-lg-12">
          <div class="panel panel-default">
              
              <div class="panel-body">

                  <div class="row">
                      <%= render 'form', sucursal: @sucursal %>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>
</section>