<section>
    <!-- Page content-->
    <div class="container">
    <h3>
         Sucursal
        <small></small>
    </h3>
    
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
            <div class="panel-heading">
                  Detalles de sucursal
                </div>
              <div class="panel-body">
                <table class="table bb">
                <tr>
                <p>
                    <td><strong>Empresa:</strong></td>
                    <td><%=@sucursal.empresa.nombre%></td>
                </p>
                </tr>
                <tr>
                <p>
                    <td><strong>Nombre:</strong></td>
                    <td><%=@sucursal.nombre%></td>
                </p>
                </tr>
                <tr>
                    <p>
                        <td><strong>Calle:</strong></td>
                        <td><%=@sucursal.calle%></td>
                    </p>
                </tr>
                <tr>
                    <p>
                        <td><strong>Colonia:</strong></td>
                        <td><%=@sucursal.colonia%></td>
                    </p>
                </tr>
                <tr>
                    <p>
                        <td><strong>Numero exterior:</strong></td>
                        <td><%=@sucursal.numeroExt%></td>
                    </p>
                </tr>
                <tr>
                    <p>
                        <td><strong>Numero interior:</strong></td>
                        <td><%=@sucursal.numero_int%></td>
                    </p>
                </tr>
                <tr>
                    <p>
                        <td><strong>Codigo postal:</strong></td>
                        <td><%=@sucursal.codigoPostal%></td>
                    </p>
                </tr>
                <tr>
                    <p>
                        <td><strong>Ciudad:</strong></td>
                        <td><%=@sucursal.ciudad%></td>
                    </p>
                </tr>
                <tr>
                    <p>
                        <td><strong>Pais:</strong></td>
                        <td><%=@sucursal.pais%></td>
                    </p>
                </tr>


                </table>
                <div class="panel-footer clearfix">
                  <div class="pull-right">
                    <%= link_to root_path do %>
                      <button class="btn btn-primary"> Regresar </button>
                    <% end %>
                  </div>
                </div>
                
              </div>
            </div>
        </div>
    </div>

    </div>
</section>