<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="#">
        </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
    
      <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
          <li class="nav-item">
          <%if signed_in?%>
            <a class="nav-link" href="<%=destroy_user_session_path%>" data-method="delete">Cerrar sesion</a>
         
          <%else%>
              <a class="nav-link" href="<%=new_user_session_url%>">Iniciar sesion</a>
        
          <%end%>
        </li>
      </ul>
    </div>
  </div>
</nav>
